.form input {
    border-radius: 5px;
    display: block;
    margin: 0 auto 10px;
    border-style: none;
    height: 20px;
    width: 90%;
    padding: 5px;
}

.userForm {
    background-color: rgba(0, 0, 128, 0.282);
    margin-top: 50px;
    text-align: center;
    width: 400px;

}

.button {
    margin-top: 20px auto;
}

